.fade-in {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 1.6s ease-out, transform .8s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
