*::selection,
a::selection,
button::selection, input::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

header #navbar {
    transition: box-shadow .2s;
}

header.active #navbar {
    box-shadow: 10px 0 10px 10px #111219b1;
}

.panel-container {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.panel {
    position: relative;
    background-color: var(--primary);
    border: 1px solid var(--bg);
    border-radius: 15px;
    padding: 2vh 2vw;
    overflow: scroll;
}

.panel h3 {
    margin: 0;
    padding: 3vh 0;
    border-bottom: 1px solid var(--fg);
    font-size: 1.1em;
    letter-spacing: 3px;
    cursor: default;
}

.pen {
    padding: 14vh 2vw 7vh 2vw;
}

.pen h3 {
    position: absolute;
    top: 3vh;
    left: 3vw;
    right: 3vw;
}

.panel h5 {
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.panel p {
    font-size: .8em;
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .2px;
}

.caption {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: justify;
    border: 1px solid #cccccc7b;
    border-radius: 1px;
    padding: .5em 1.5em;
    margin: 2vh 0;
}

.caption, .small {
    font-size: .7em;
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 1px;
}

#blog,
#blog .entry {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

#blog {
    margin-top: calc(var(--nav-btn-height) + 4vh);
    align-items: center;
    gap: calc(50vh - var(--nav-btn-height));
    padding: 5vh;
}

#blog .entry {
    align-items: stretch;
    overflow: hidden;
}

#blog .entry,
#blog .entry img {
    max-width: 100vw;
    max-height: calc(100vh - var(--nav-btn-height) - 5em);
}

#blog .entry img {
    object-fit: cover;
}

#contacts,
#contribute {
    max-width: 50vw;
    margin: 20vh 10vw;
}

#contribute {
    align-items: center;
}

.address-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding: 8px 16px;
    margin: 4px 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "JetBrains Mono", "Roboto Mono", "Lato", "Helvetica Neue", "Helvetica", "Arial", sans;
    transition: background .4s, padding .4s, margin .4s;
    cursor: default;
}

.address-container:hover {
    padding: 8px 16px;
    margin: 4px 0;
    background-color: #333;
}

.address-container > b {
    font-size: .8em;
    letter-spacing: 1px;
    user-select: none;
}

.address-container:active .address-text {
    color: #212d3b;
    background-color: #a1bfde;
}

.address-text {
    user-select: all;
}

.fade-in {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    will-change: opacity, visibility;
    transition: opacity 1.6s ease-out, transform .8s ease-out;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
