/* --< desktop >-- */
@media screen and (min-width: 1100px) {
  .panel-container {
    gap: 15%;
  }

  .panel {
    width: 42vw;
  }

  .caption {
    width: 12vw;
    min-height: 30vh;
  }

  .panel-container .caption {
      position: absolute;
      top: 0;
      right: -20vw;
  }
}
